@import url("https://fonts.googleapis.com/css?family=Lato");

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #17141d;
    min-height: 100vh;
    font-family: "Mukta Malar", Arial;
    line-height: 22px;
    font-size: 16px;
    color: #ADAFB6;
    justify-content: center;
    transition: background 0.3s ease;
}

.container {
    display: flex;
    justify-content: center;
}

.box-selecao {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    margin: 2em 4em;
    padding: 5em 2em;
    font-size: 1rem;
    color: #a1a1af;
    border: 1px solid #28242f;
    border-radius: 0.35em;
    background-color: #201c29;
    box-shadow: 0 10px 60px #070509;
    flex-wrap: wrap;
}

.titulo {
    text-align: center;
    line-height: 1.2;
}

.titulo-aprovadas {
    text-align: center;
    line-height: 1.5;
}

.titulo h1, .titulo-aprovadas h1 {
    font-size: 2rem;
    margin-top: 50px;
}

.titulo h3, .titulo-aprovadas h3 {
    font-size: 1.3rem;
}

.drop {
    width: 220px;
    cursor: pointer;
    padding: 9px 16px;
    border-radius: 6px;
    display: block;
    position: relative;
    color: #000;
    border: 1px solid #fff;
    background-color: #fff;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.campos {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.campos div p {
    margin-bottom: 10px;
}

#banner {
    margin-bottom: 50px;
}

.btn {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}

.btn-r {
    width: 60px;
    margin: auto;
    margin-top: 30px;
}

.btn_reload {
    font-size: 1.1em;
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #0e3b4a;
    color: #ADAFB6;
    border: transparent;
    transition: 0.3s;
}

.btn_reload:hover {
    background-color: #135166;
    color: #ffffff;
    transform: scale(1.1);
}

.tags-resp {
    margin-right: 0;
    padding: 0;
    border-left: 0;
    transform: rotate(0);
    margin-right: 1em;
    text-transform: uppercase;
    background: linear-gradient(to right, #ff8a00, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video {
    max-width: 1000px;
    margin: auto;
}

.video video {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    width: 100%;
}

/* LISTA-APROVADAS */

.info-header {
    margin-left: 70px;
    margin-right: 70px;
    line-height: 33px;
    margin-top: 30px;
}

.info-header img {
    max-width: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.box {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    margin: 2em 4em;
    padding: 2em;
    font-size: 1rem;
    color: #a1a1af;
    border: 1px solid #28242f;
    border-radius: 0.35em;
    background-color: #201c29;
    box-shadow: 0 10px 60px #070509;
    flex-wrap: wrap;
}

p {
    text-decoration: none;
    font-size: 1rem;
    color: #a1a1af;
}

p.aprovado {
    display: block;
    padding: 0.3em 0.85em;
    margin: 0.5em;
    text-transform: uppercase;
    border: 3px solid #28242f;
    border-radius: 2em;
    transform: scale(1.2);
    background: linear-gradient(to right, #00ffa3, #04d2b5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.aprovacao {
    display: block;
    padding: 0.3em 0.85em;
    margin: 0.5em;
    text-transform: uppercase;
    border: 3px solid #28242f;
    border-radius: 2em;
    transform: scale(1.2);
    background: linear-gradient(to right, #00cbff, #6E89FA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.producao {
    display: block;
    padding: 0.3em 0.85em;
    margin: 0.5em;
    text-transform: uppercase;
    border: 3px solid #28242f;
    border-radius: 2em;
    transform: scale(1.2);
    background: linear-gradient(to right, #d6ff00, #dab180);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.reprovado {
    display: block;
    padding: 0.3em 0.85em;
    margin: 0.5em;
    text-transform: uppercase;
    border: 3px solid #28242f;
    border-radius: 2em;
    transform: scale(1.2);
    background: linear-gradient(to right, #eb2e2e, #feff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tags span {
    margin-right: 1em;
    padding: 1em;
    text-transform: uppercase;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    border-left: 3px solid #28242f;
    background: linear-gradient(to right, #ff8a00, #da1b60);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-pack {
    display: block;
    text-align: center;
    width: 220px;
    background-color: #0e3b4a;
    color: #ADAFB6;
    border: transparent;
    padding: 10px 10px;
    border-radius: 20px;
    transition: all 0.3s;
}

.btn-pack:hover {
    background-color: #135166;
    color: #ffffff;
    transform: scale(1.1);
}

.btn-pack-ds {
    display: block;
    text-align: center;
    width: 220px;
    background-color: #6d6e73;
    border: 2px solid rgb(44, 43, 43);
    color: #ADAFB6;
    padding: 10px 10px;
    border-radius: 20px;
    transition: all 0.3s;
}

/* RESPONSIVO */
@media only screen and (max-width: 700px) {
.campos {
    display: block;
}

.campos div {
    margin-top: 20px;
}

select {
    width: 50px;
}

.btn_reload {
    margin-top: 25px;
    margin-left: 0px;
}

/* Lista */

.info-header {
    margin-left: 50px;
    margin-right: 50px;
    line-height: 33px;
}

.box {
    display: block;
}

.resp {
    text-align: center;
}

.tags span {
    margin-right: 0;
    padding: 0;
    border-left: 0;
    transform: rotate(0);
    writing-mode: initial;
}

p.aprovado, p.aprovacao, p.producao, p.reprovado {
    text-align: center;
    transform: scale(1);
    width: auto;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
}

.btn-pack, .btn-pack-ds {
    width: auto;
    display: block;
    text-align: center;
    margin: auto;
}

.box-selecao {
    padding-top: 1em;
    padding-bottom: 3em;
    margin: 2em 2em;
}

* {
    overflow-x: hidden;
}

.mod-728 {
    position: relative;
    right: 24%;
    transform: scale(0.5);
}

.mod-970 {
    position: relative;
    right: 30%;
    bottom: 30%;
    transform: scale(0.3);
}

}


